NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me-to-a-random-secret-in-production

KEYCLOAK_CLIENT_ID=movies-frontend
# KEYCLOAK_CLIENT_SECRET=your-client-secret-here
KEYCLOAK_ISSUER=https://rhbk.apps.bruno-cluster.sandbox2971.opentlc.com/realms/workshop

MS_MOVIES_URL=http://localhost:8080

KEYCLOAK_TLS_INSECURE=true
AUTH_TRUST_HOST=true
NODE_TLS_REJECT_UNAUTHORIZED=0

# NODE_EXTRA_CA_CERTS=/etc/pki/route-ca/route-ca.crt